/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url("components/banner.css");
@import url("components/card.css");

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

footer {
  background-color: #2C2B2B;
  display: block;
  text-align: center;
}

/* Custom design below! */

.container{
  width: 900px;
  margin: auto;
}

.container > h2 {
 text-align: center;
}
.social {
  padding: 60px;
}

.social > a {
  text-decoration: none;
  font-size: 30px;
  color: #1EDD88;
  letter-spacing: 4px;
}

.social > p {
  color: #6B6C6C;
}
