.banner {
  background-image: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,0.4)), url("https://source.unsplash.com/weekly?code2");
  background-size: cover;
  background-position: center;
  height: 600px;
  color: white;
  display: flex;
}

.banner h1 {
  font-family: Poppins;
  font-size: 32px;
}

.banner p {
  font-family: "Open sans";
  font-size: 20px;
  color: #B2B3B4;
}

.banner h1, .banner p {
  text-shadow: 0px 4px 16px black;
}

.banner a {
  text-decoration: none;
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}
